<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
 

  {% include 'google-fonts' %}
  

  

  <!-- Sections ================================================== -->
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      zoomClose: {{ "products.zoom.close" | t | json }},
      zoomPrev: {{ "products.zoom.prev" | t | json }},
      zoomNext: {{ "products.zoom.next" | t | json }},
      moneyFormat: {{ shop.money_format | json }},
      addressError: {{ 'home_page.map.address_error' | t | json }},
      addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
      authError: {{ 'home_page.map.auth_error_html' | t | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartCookie: {{ 'cart.general.cookies_required' | t | json }},
      cartSavings: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      gridType: {{ settings.collection_products_grid | json }}
    };
  </script>

  {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

    
{{ "styles.css"  | asset_url | stylesheet_tag }}
  {{ "font-style.css"  | asset_url | stylesheet_tag }}
   {{ 'custom.css' | asset_url | stylesheet_tag }}
  
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  <!-- Header hook for plugins ================================================== -->
  {% include 'buddha-megamenu-before' %}
  {% include 'buddha-megamenu' %}
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'custom.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template.directory == 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  
  
  <meta name="google-site-verification" content="m2B9bNFcDBjlo61u0TGjHJMHhiUv8WIGhEMckqVwjfg" />


  {% include 'shogun-head' %}
  
  <meta name="google-site-verification" content="3xDRLPfMBdqIizfTt0vdIz3DKQ4TNuZ5NJ_O65KZb3M" />
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K5W8FST');</script>
<!-- End Google Tag Manager -->
  
  <!-- Hotjar Tracking Code for https://prodigikids.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1449240,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  

 
{% render 'pagefly-header' %}
 </head> 

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  {% include 'buddha-megamenu-wireframe' %}
  <div id="NavDrawer" class="drawer drawer--left">
    {% section 'drawer-menu' %}
  </div>
  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__fixed-header">
      <div class="drawer__header">
        <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close">
          <button type="button" class="icon-fallback-text drawer__close-button js-drawer-close">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer" class="drawer__cart"></div>
    </div>
  </div>
  {% if handle == 'the-stay-put-plate' or template.name == "product"%}
  <div id="PageContainer" class="page-container">

    {% section 'header' %}
  </div>   
  	  {{ content_for_layout }}
  
  
  {% else %}
  
  <div id="PageContainer" class="page-container">

    {% section 'header' %}

    {% if template.name == "index" %}
      {% section 'slideshow' %}
    {% endif %}

    <main class="main-content" role="main">
      {% unless template.name == "index" or template == "collection.image" %}
        <div class="wrapper">
      {% endunless %}
        {{ content_for_layout }}
      {% unless template.name == "index" or template == "collection.image" %}
        </div>
      {% endunless %}
    </main>

    <hr class="hr--large">

    {% section 'footer' %}

  </div>
  {% endif %}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.cart_type == 'drawer' %}
    {% include 'ajax-cart-template' %}
  {% endif %}

  {% if template.name == 'product' or template.name == 'index' %}
      <script>
        // Override default values of shop.strings for each template.
        // Alternate product templates can change values of
        // add to cart button, sold out, and unavailable states here.
        theme.productStrings = {
          addToCart: {{ 'products.product.add_to_cart' | t | json }},
          soldOut: {{ 'products.product.sold_out' | t | json }},
          unavailable: {{ 'products.product.unavailable' | t | json }}
        }
      </script>
    {% endif %}

  <div id="SearchModal" class="mfp-hide">
    {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--modal' %}
  </div>

 <script type="text/javascript">
 
</script>
   
  <script>	
	
	jQuery(document).ready(function() {

    /*$('.genericAccordion').each(function() {

        var listTotal = $(this).children('.item').length;
        
        if (listTotal <= 2) {
            $(this).children('.item').each(function() {
                $(this).addClass('open');
                $(this).children('.content').slideDown();
            });
        }
    })
*/
    jQuery('.genericAccordion .title').click(function(e) {
      if(jQuery(this).parent('.item').hasClass('open')){
         	 jQuery('.content').slideUp();
      		 jQuery('.item').removeClass('open');
        return;
         }
        e.preventDefault();
		jQuery('.content').slideUp();
        jQuery('.item').removeClass('open');
      
        jQuery(this).siblings('.content').slideDown();
        jQuery(this).parent('.item').toggleClass('open');
    });
      
    		var urlParams = "";
			(window.onpopstate = function () {
                var match,
                    pl     = /\+/g,  // Regex for replacing addition symbol with a space
                    search = /([^&=]+)=?([^&]*)/g,
                    decode = function (s) { return decodeURIComponent(s.replace(pl, " ")); },
                    query  = window.location.search.substring(1);

                urlParams = {};
                while (match = search.exec(query))
                   urlParams[decode(match[1])] = decode(match[2]);
            })();
      
      //console.log(urlParams); debugger;
     
      if(urlParams.variant){
      
      		jQuery('img[data-variant-id="'+ urlParams.variant +'"]').show();
       		 jQuery('.wkdefault_images').hide();
        
      	}
      
}); // end .ready()
    
      jQuery(document).ready(function(){
        jQuery(".hometop-sec-b-contentlink2").click(function(){
          	jQuery(".hometop-sec-r4-togglebox").slideToggle();
            jQuery(".homepg-quote2").toggleClass('open');
        });
        
        var windowheight = jQuery(window).height();

        //alert(windowheight);
        //jQuery("div#shopify-section-1516343259842").css("height", windowheight);
        
        //var windowSize = $(window).width();

        if ( $(window).width() > 1023 ) {
          jQuery("div#shopify-section-1516343259842").css("height", windowheight);
        }
        
      });
      jQuery(document).ready(function(){
         jQuery(".hometop-sec-b-contentlink1").click(function(){
         	jQuery(".homepg-quote1").toggleClass('open');
         	jQuery(".hometop-sec-r3-togglebox").slideToggle();
        });
      });
    jQuery(document).ready(function(){
// 		jQuery('.homebaner-shop-btn2 a').click(function(){
// 			jQuery('.howitwork-popup').addClass('howitwork-popup-open');
// 		});
// 		jQuery('.howitwork-wrp-close').click(function(){
// 			jQuery('.howitwork-popup').removeClass('howitwork-popup-open');
// 		});
	});

</script>
  
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K5W8FST"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  
{% include 'magisto' %}
</body>
</html>
