
<!-- /templates/product.liquid -->
<style>
  body.template-product{
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
  html {
  height:100% !important;
  }
</style>
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<div id="containerproduct">
  {% comment %}
{% section 'product-video' %}
  {% endcomment %}
  {% comment %}
{% section 'product-slideshow' %}
{% endcomment %}
  <div class="section">
  <img src="https://cdn.shopify.com/s/files/1/2786/3964/files/slid1.png">
  </div>  
  <div class="section">
    <img src="https://cdn.shopify.com/s/files/1/2786/3964/files/second-img2.png">
  </div>  
  <div class="section">
    <img src="https://cdn.shopify.com/s/files/1/2786/3964/files/slidd.png">
  </div>  
{% section 'product-template' %}

</div>

<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>